<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319693814917-oshc6ueh5f2v373fkmhg4vp1eei0oj73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319693814917-oshc6ueh5f2v373fkmhg4vp1eei0oj73</string>
	<key>API_KEY</key>
	<string>AIzaSyD3bgmJeOfhu2gTjNI0JnmkjNTDRu42eMk</string>
	<key>GCM_SENDER_ID</key>
	<string>319693814917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frightenedpony.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-cbbb4</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-cbbb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319693814917:ios:840d405cd80ea6ce0b3dec</string>
</dict>
</plist>